<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/footer.css" />
  </head>
  <body>
    <footer>
      <div class="footer">
        <p>Questions? Call +91-844-627-1685</p>
        <div class="grid">
          <div class="column">
            <div class="column-heading">Company</div>
            <div><a href="">Book Parking </a></div>
            <div><a href="">PartnerProgram</a></div>
            <div><a href="">Privacy Policy</a></div>
          </div>
          <div class="column">
            <div class="column-heading">Contact</div>
            <div>parksol2025@gmail.com</div>
            <div><a href="">Help</a></div>
          </div>
          <div class="column">
            <div class="column-heading">Address</div>
            <div>PICT College</div>
            <div>
              Survey No. 27, Near Trimurti Chowk, Dhankawadi, Pune-411043,
              Maharashtra (India).
            </div>
          </div>
          <div class="column">
            <div class="column-heading">Feedback</div>
            <div>
              "Please take a moment to fill out the feedback form, we value your
              input!"
            </div>
            <div>
              <a href="https://forms.gle/isbVGLrDpjbSEEZ27">Google Form</a>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2025 ParkSol, All rights reserved.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
