<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/header.css" />
  </head>
  <body>
    <nav id="navbar">
      <div id="logo">
        <img class="logoImg" src="images\logo-img.png" alt="logo" />
        <div class="webName">ParkSol</div>
      </div>
      <ul>
        <li class="item" style="width: 3rem"><a href="/">Home</a></li>
        <li class="item" style="width: 4.5rem">
          <a href="/register-parking">Register</a>
        </li>
        <li class="item" style="width: 2rem"><a href="/help">Help</a></li>
        <li class="item" style="width: 2.5rem">
          <a href="/history">History</a>
        </li>
        <li class="item" style="width: 5rem">
          <a href="/aboutus">About Us</a>
        </li>
        <li><button class="loginBtn">Sign In</button></li>
      </ul>
    </nav>
  </body>
</html>
