<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="/styles/aboutus.css" />
  </head>
  <body>

    <%- include("partials/header.ejs") %>

    <h1>About Us</h1>

    <div class="team-container">
      <!-- Nirmal -->
      <div class="team-member">
        <img src="images\nirmal_img.jpg" alt="Team Member" />
        <h2>Nirmal Ramchandani</h2>
        <p>Team Member</p>
        <p><strong>( Backend Developer )</strong></p>
        <div class="social-links">
          <a
            href="https://www.instagram.com/nirmal_ramchandani_2k23?igsh=MWtweWdpNTh6YzZ6cg=="
            target="_blank"
            ><img
              src="images/insta-logo.jpg"
              alt="instagram"
              width="5px"
          /></a>
          <a
            href="https://www.linkedin.com/in/nirmal-ramchandani-8689a2277?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
            target="_blank"
            ><img
              src="images/linkedin-logo.jpg"
              alt="LinkedIn"
              width="5px"
          /></a>
          <a href="https://github.com/nirmalramchandani" target="_blank"
            ><img src="images/github-logo.jpg" alt="GitHub" width="5px"
          /></a>
        </div>
      </div>

      <!-- Ram -->
      <div class="team-member leader">
        <img src="images\ram_img.jpg" alt="Group Leader" />
        <h2>Ram Tangadpalliwar</h2>
        <p><strong>Team Member</strong></p>
        <p><strong>( Frontend Developer )</strong></p>
        <div class="social-links">
          <a
            href="https://www.instagram.com/ramtangadpalliwar?igsh=amttNjRoNXUyZzNi&utm_source=qr"
            target="_blank"
            ><img
              src="images/insta-logo.jpg"
              alt="instagram"
              width="5px"
          /></a>
          <a
            href="https://www.linkedin.com/in/ram-tangadpalliwar-9076aa28a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            target="_blank"
            ><img
              src="images/linkedin-logo.jpg"
              alt="LinkedIn"
              width="5px"
          /></a>
          <a href="https://github.com/NxtRam" target="_blank"
            ><img src="images/github-logo.jpg" alt="GitHub" width="5px"
          /></a>
        </div>
      </div>

      <!-- Anuj -->
      <div class="team-member">
        <img src="images\anuj_img.jpg" alt="Team Member" />
        <h2>Anuj Rathi</h2>
        <p>Team Member</p>
        <p><strong>( Database Developer )</strong></p>
        <div class="social-links">
          <a
            href="https://www.instagram.com/anuj_rathi.19?igsh=Z2pxbzJlOWw4N3B5"
            target="_blank"
            ><img
              src="images/insta-logo.jpg"
              alt="instagram"
              width="5px"
          /></a>
          <a href="https://linkedin.com/in/mikejohnson" target="_blank"
            ><img
              src="images/linkedin-logo.jpg"
              alt="LinkedIn"
              width="5px"
          /></a>
          <a href="" target="_blank">
            <img src="images/github-logo.jpg" alt="GitHub" width="5px"
          /></a>
        </div>
      </div>
    </div>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
